.js-cookie-consent {
position: absolute;
top: 0px;
padding: 10px;
text-align: center;
    align-items: center;
z-index: 9999;
width: 100%;
background-color: #fffacc;
border: solid 1px;
display: flex;
    justify-content: center;
}
.cookie-consent__message {
    display: flex;
    text-align: center;
    align-items: center;
}

.js-cookie-consent-agree {
    align-items: center;
    text-align: center;
}
.privacy-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 7px;
    color: #3490dc;
    text-decoration: underline;
}
.privacy-button:hover {
    cursor: pointer;
    text-decoration: none;
    color: #2d73b1;
}
.privacy-button:focus {
    outline: 0;
}

.main-logo {
    height: 80%;
    width: 80%;
}

.mt-em {
    background-color: rgba(0,2,2,0.3);
    font-size: 50px;
    color: white;
    transition: 0.1s;
    animation: fade-in-top 1.5s ease 0.25s;
    animation-fill-mode: both;
}

.mp-em{
    color: white;
    transition: 0.1s;
    animation: fade-in-top 1.5s ease 0.25s;
    animation-fill-mode: both;
    background-color: rgba(0,2,2,0.3);
    text-align: center;
}

.mp-text{
    text-align: center;
    justify-content: center;
}

.logo-overons{
    float: left;
    height: 200px;
}

.img-home{
    width: 500px;
}


.img-home-left{
    float: right;
}

.liststyle{
    list-style: none;
}

.second-page{
    height: 60vh;
}

.remarkslabel {
    font-size: 20px;
    margin-top: 10px;
}

.pricelabel {
    font-size: 20px;
    padding-top: 20px;
}

.priceinput {
    margin-bottom: 20px;
    padding-right: 100px;
}

.offerinput {
    margin-top: 20px;
}

.workorderinput {
    margin-top: 20px;
    margin-bottom: 20px;
}

.financetext {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.selectquotations {
    margin-left: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.offercheckpage {
    background: #FFD700;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 20px;
    color: black;
    font-weight: bold;
}

.remarkstextarea {
    width: 330px;
    height: 100px;
}

.offer {
    background: #ffffff;
}

.offerselect {
    margin-left: 20px;
    margin-bottom: 20px;
}

.salestext {
    padding-left: 20px;
    padding-top: 20px;
}

.salesselect {
    margin-left: 20px;
    margin-bottom: 20px;
}

.remarkselect {
    margin-left: 20px;
    margin-bottom: 40px;
}

.disapprovedlabel {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.approvedlabel {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.customertext {
    padding-top: 20px;
    padding-left: 20px;
}

.productslabel {
    padding-top: 20px;
    font-size: 20px;
}

input.checkboxapproved {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.approvedbuttons {
    display: flex;
}

input.checkboxdisapproved{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

input.checkboxsupplies {
    width: 20px;
    height: 20px;
}

.companynameselect {
    margin-left: 20px;
    margin-bottom: 20px;
}

.infodetail {
    padding-left: 20px;
    padding-top: 20px;
}

.offerlabelshow {
    padding-left: 20px;
    padding-top: 20px;
}

.infopricelabel {
    padding-left: 20px;
    padding-top: 20px;
}

.offershow {
    background: white;
}

.offershowlogo {
    width: 100px;
    padding-top: 20px;
    padding-left: 20px;
}

.offershowheader {
    background: #ffd700;
    padding-bottom: 20px;
}

.bkrdoc {
    font-weight: bold;
    margin-left: 20px;
    background: #ffd700;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bkrinput {
    font-weight: bold;
    background: #ffd700;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 33px;
    padding-right: 33px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    border: 2px solid #ffd700;
}

.leasebutton {
    font-weight: bold;
    background: #ffd700;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 33px;
    padding-right: 33px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid #ffd700;
}

.customerselect {
    margin-left: 20px;
    margin-bottom: 20px;
}

.customerbkrchecklabel {
    margin-left: 20px;
}

.supplieslist {
    list-style: none;
    display: flex;
    justify-items: center;
}

.supplieslabel {
    padding-top: 10px;
}

.leasesshow {
    padding-top: 50px;
    padding-left: 20px;
}

.leaseslink {
    color: black;
}

.leaselist {
    list-style-type: decimal;
    padding-left: 10px;
    font-size: 20px;
}

.customerlabelregister {
    padding-top: 7px;
}

.listsupplies {
    padding: 0;
    margin: 0;
}

.bkrchecktext {
    padding-left: 20px;
    padding-top: 20px;
}

.offerform {
    padding-left: 20px;
    padding-top: 20px;
}

.offerlabel {
    padding-left: 20px;
    padding-top: 20px;
}

.offerchecklabel {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}

.margin-top-product{
    margin-top: 5em;
}

.white{
    color: white;
}

.black{
    color: black;
}

.white-line{
    background-color: white;
}

.site-footer{
    background-color: #212121;
}

.maintenance {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.amountlabel {
    font-size: 20px;
    padding: 0;
    margin: 0;
    padding-top: 5px;
}

.customerlabel {
    font-size: 20px;
    padding-top: 20px;
}

.receiptnumberlabel {
    font-size: 20px;
}

.amountinput {
    margin-bottom: 25px;
}

.plusbutton {
    margin-bottom: 20px;
}

.saleslabel {
    font-size: 20px;
}

.third-page{
    height: 120vh;
}

.workorder {
    background: #ffffff;
}

.workordertext {
    padding-left: 20px;
    padding-top: 20px;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("../storage/img/coffee_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-page{
    height: 5vh;
    min-height: 500px;
    background-image: url("../storage/img/blueasy3.jpg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animaties */
@keyframes fade-in-top{
    0%{
        transform: rotate(0deg) scale(1) translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg) scale(1) translateY(0);
        opacity: 1;
    }
}
