.js-cookie-consent {
position: absolute;
top: 0px;
padding: 10px;
text-align: center;
    align-items: center;
z-index: 9999;
width: 100%;
background-color: #fffacc;
border: solid 1px;
display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('public\fonts\BigShouldersDisplay-Regular.eot');
    src: url('public\fonts\BigShouldersDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('public\fonts\BigShouldersDisplay-Regular.woff2') format('woff2'),
    url('public\fonts\BigShouldersDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('public\fonts\Roboto-Regular.eot');
    src: url('public\fonts\Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('public\fonts\Roboto-Regular.woff2') format('woff2'),
    url('public\fonts\Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.text-center {
    font-family: 'Roboto';
}

.cookie-consent__message {
    display: flex;
    text-align: center;
    align-items: center;
}

.js-cookie-consent-agree {
    align-items: center;
    text-align: center;
}
.privacy-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 7px;
    color: #3490dc;
    text-decoration: underline;
}
.privacy-button:hover {
    cursor: pointer;
    text-decoration: none;
    color: #2d73b1;
}
.privacy-button:focus {
    outline: 0;
}

.main-logo {
    height: 80%;
    width: 80%;
}

.mt-em {
    background-color: rgba(0,2,2,0.3);
    font-size: 50px;
    color: white;
    transition: 0.1s;
    animation: fade-in-top 1.5s ease 0.25s;
    animation-fill-mode: both;
    font-family: 'Big Shoulders Display';
    font-weight: bold;
}

.mp-em{
    color: white;
    transition: 0.1s;
    animation: fade-in-top 1.5s ease 0.25s;
    animation-fill-mode: both;
    background-color: rgba(0,2,2,0.3);
    text-align: center;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Big Shoulders Display';
    font-weight: bold;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.footerlink {
    font-family: 'Roboto';
}

.nav-link {
    font-family: "Big Shoulders Display";
    font-weight: bold;
}

.m-b-md {
    margin-bottom: 30px;
}

.mp-text{
    text-align: center;
    justify-content: center;
    font-family: 'Roboto';
}

.logo-overons{
    float: left;
    height: 200px;
}

.img-home{
    width: 500px;
}


.img-home-left{
    float: right;
}

.liststyle{
    list-style: none;
}

.second-page{
    height: 60vh;
}

.remarkslabel {
    color: black;
    font-family: Roboto;
    font-size: 20px;
    margin-top: 10px;
}

.pricelabel {
    color: black;
    font-family: Roboto;
    font-size: 20px;
    padding-top: 20px;
}

.priceinput {
    margin-bottom: 20px;
    padding-right: 100px;
}

.offerinput {
    color: black;
    font-family: "Big Shoulders Display";
    font-weight: bold;
    margin-top: 20px;
    background: #ffd700;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid #ffd700;
    margin-bottom: 20px;
}

.btn-primary {
    color: black;
    background: #ffd700;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid #ffd700;
}

.workorderinput {
    font-family: "Big Shoulders Display";
    font-weight: bold;
    background: #ffd700;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #ffd700;
}

.financetext {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.selectquotations {
    margin-left: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.offercheckpage {
    background: #FFD700;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 20px;
    color: black;
    font-weight: bold;
}

.remarkstextarea {
    width: 330px;
    height: 100px;
}

.offer {
    background: #ffffff;
}

.offerselect {
    margin-left: 20px;
    margin-bottom: 20px;
}

.salestext {
    padding-left: 20px;
    padding-top: 20px;
}

.footer-fix{
    height: 43vh;
}

.footer-fixe{
    height: 62vh;
}

.footer-fixes{
    height: 67vh;
}

.salesselect {
    margin-left: 20px;
    margin-bottom: 20px;
}

.remarkselect {
    margin-left: 20px;
    margin-bottom: 40px;
}

.disapprovedlabel {
    font-family: Roboto;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.approvedlabel {
    font-family: Roboto;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.customertext {
    padding-top: 20px;
    padding-left: 20px;
}

.productslabel {
    font-family: Roboto;
    color: black;
    padding-top: 20px;
    font-size: 20px;
}

input.checkboxapproved {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.approvedbuttons {
    display: flex;
}

input.checkboxdisapproved{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

input.checkboxsupplies {
    width: 20px;
    height: 20px;
}

.companynameselect {
    margin-left: 20px;
    margin-bottom: 20px;
}

.infodetail {
    font-family: "Big Shoulders Display";
    font-weight: bold;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
}

.offerlabelshow {
    font-family: Roboto;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 20px;
}

.infopricelabel {
    font-family: Roboto;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 20px;
}

.offershow {
    background: white;
}

.offershowlogo {
    width: 100px;
    padding-top: 20px;
    padding-left: 20px;
}

.offershowheader {
    background: #ffd700;
    padding-bottom: 20px;
}

.bkrdoc {
    font-weight: bold;
    margin-left: 20px;
    background: #ffd700;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bkrinput {
    font-weight: bold;
    background: #ffd700;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 33px;
    padding-right: 33px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    border: 2px solid #ffd700;
}

.leasebutton {
    font-family: "Big Shoulders Display";
    font-weight: bold;
    background: #ffd700;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 33px;
    padding-right: 33px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid #ffd700;
}

.customerselect {
    margin-left: 20px;
    margin-bottom: 20px;
}

.customerbkrchecklabel {
    font-family: Roboto;
    color: black;
    font-size: 20px;
    margin-left: 20px;
}

.supplieslist {
    list-style: none;
    display: flex;
    justify-items: center;
}

.supplieslabel {
    font-family: Roboto;
    color: black;
    padding-top: 10px;
}

.leasesshow {
    padding-top: 50px;
    padding-left: 20px;
}

.leaseslink {
    font-family: Roboto;
}

.indexsupplieslabel {
    padding-top: 20px;
    font-family: "Big Shoulders Display";
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}

.searchbutton {
    font-family: "Big Shoulders Display";
    font-weight: bold;
    background: #ffd700;
    border: 2px solid #ffd700;
}

.form-check-label {
    font-family: Roboto;
}

.btn-link {
    font-family: Roboto;
}

.tablesupplies {
    font-family: Roboto;
}

.leaseinfo {
    font-family: Roboto;
    font-size: 18px;
    margin-bottom: 20px;
}

.leaseslabel {
    font-family: "Big Shoulders Display";
    font-weight: bold;
    padding-bottom: 20px;
    color: black;
}

.errortext {
    margin-top: 50px;
    font-family: "Big Shoulders Display";
    font-weight: bold;
    color: black;
}

.leaseerrormain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 30px;
}

.infoerror {
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 50px;
    color: black;
    width: 50%;
    height: 20%;
    border: 2px solid #000000;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.leaselist {
    list-style-type: decimal;
    padding-left: 10px;
    font-size: 20px;
}

.customerlabelregister {
    font-family: Roboto;
    padding-top: 7px;
}

.theleaselist {
    font-family: Roboto;
    color: black;
}

.listsupplies {
    font-family: Roboto;
    color: black;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.malfunctionlabelshowzero {
    font-family: Roboto;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.malfunctionlabelshowfirst {
    font-family: Roboto;
    font-size: 15px;
    padding-left: 20px;
}

.malfunctionlabel {
    font-family: Roboto;
}

.bkrchecktext {
    color: black;
    font-family: "Big Shoulders Display";
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.malfunctionlabelshowtwo {
    font-family: Roboto;
    font-size: 15px;
    padding-left: 20px;
}

.offerform {
    padding-left: 20px;
    padding-top: 20px;
}

.offerlabel {
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Big Shoulders Display";
    font-weight: bold;
    color: black;
}

.offerchecklabel {
    font-family: Roboto;
    color: black;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}

.margin-top-product{
    margin-top: 5em;
}

.white{
    color: white;
    font-family: 'Roboto';
}

.text-justify {
    font-family: 'Roboto';
}

.copyright-text white {
    font-family: 'Roboto';
}

.mt-2 {
    font-family: 'Roboto';
}

.black{
    color: black;
    font-family: 'Roboto';
}

.text-md-right {
    font-family: 'Roboto';
}

.white-line{
    background-color: white;
}

.site-footer{
    background-color: #212121;
}

.maintenance {
    font-family: "Big Shoulders Display";
    font-weight: bold;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.amountlabel {
    font-size: 20px;
    padding: 0;
    margin: 0;
    padding-top: 5px;
}

.customerlabel {
    color: black;
    font-family: Roboto;
    font-size: 20px;
    padding-top: 20px;
}

.receiptnumberlabel {
    font-size: 20px;
}

.amountinput {
    margin-bottom: 25px;
}

.plusbutton {
    margin-bottom: 20px;
}

.saleslabel {
    color: black;
    font-family: Roboto;
    font-size: 20px;
}

.third-page{
    height: 120vh;
}

.workorder {
    background: #ffffff;
}

.workordertext {
    font-family: "Big Shoulders Display";
    font-weight: bold;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("../storage/img/coffee_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-page{
    height: 5vh;
    min-height: 500px;
    background-image: url("../storage/img/blueasy3.jpg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animaties */
@keyframes fade-in-top{
    0%{
        transform: rotate(0deg) scale(1) translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg) scale(1) translateY(0);
        opacity: 1;
    }
}
