.js-cookie-consent {
position: absolute;
top: 0px;
padding: 10px;
text-align: center;
    align-items: center;
z-index: 9999;
width: 100%;
background-color: #fffacc;
border: solid 1px;
display: flex;
    justify-content: center;
}
.cookie-consent__message {
    display: flex;
    text-align: center;
    align-items: center;
}

.js-cookie-consent-agree {
    align-items: center;
    text-align: center;
}
.privacy-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 7px;
    color: #3490dc;
    text-decoration: underline;
}
.privacy-button:hover {
    cursor: pointer;
    text-decoration: none;
    color: #2d73b1;
}
.privacy-button:focus {
    outline: 0;
}

.main-logo {
    height: 80%;
    width: 80%;
}

.mt-em {
    background-color: rgba(0,2,2,0.3);
    font-size: 50px;
    color: white;
    transition: 0.1s;
    animation: fade-in-top 1.5s ease 0.25s;
    animation-fill-mode: both;
}

.mp-em{
    color: white;
    transition: 0.1s;
    animation: fade-in-top 1.5s ease 0.25s;
    animation-fill-mode: both;
    background-color: rgba(0,2,2,0.3);
    text-align: center;
}

.mp-text{
    text-align: center;
    justify-content: center;
}

.logo-overons{
    float: left;
    height: 200px;
}

.img-home{
    width: 500px;
}


.img-home-left{
    float: right;
}

.second-page{
    height: 60vh;
}

.remarkslabel {
    font-size: 20px;
}

.pricelabel {
    font-size: 20px;
}


.priceinput {
    margin-bottom: 20px;
    margin-left: 20px;
    padding-right: 100px;
}

.offerinput {
    margin-top: 20px;
}

.remarkstextarea {
    margin-top: 10px;
    width: 330px;
    height: 100px;
}

.offer {
    background: #ffffff;
}

.disapprovedlabel {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.approvedlabel {
    font-size: 20px;
    display: flex;
    align-items: center;
}

input.checkboxapproved {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.approvedbuttons {
    display: flex;
}

input.checkboxdisapproved{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.bkrchecktext {
    padding-left: 20px;
    padding-top: 20px;
}

.offerchecklabel {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}

.margin-top-product{
    margin-top: 5em;
}

.white{
    color: white;
}

.black{
    color: black;
}

.white-line{
    background-color: white;
}

.site-footer{
    background-color: #212121;
}

.third-page{
    height: 120vh;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("../storage/img/coffee_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-page{
    height: 5vh;
    min-height: 500px;
    background-image: url("../storage/img/blueasy3.jpg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animaties */
@keyframes fade-in-top{
    0%{
        transform: rotate(0deg) scale(1) translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg) scale(1) translateY(0);
        opacity: 1;
    }
}
